<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="${packageName}">

    <!-- Required to act as a custom watch face. -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- Required for complications to receive complication data and open the provider chooser. -->
    <uses-permission android:name="com.google.android.wearable.permission.RECEIVE_COMPLICATION_DATA"/>

    <application>
        <meta-data
                android:name="com.google.android.gms.car.application"
                android:resource="@xml/automotive_app_desc"/>

        <service android:name="com.slabstech.app.thehdtour.MyMessagingService">
        </service>

        <receiver android:name="com.slabstech.app.thehdtour.MessageReadReceiver">
            <intent-filter>
                <action android:name="com.slabstech.app.thehdtour.ACTION_MESSAGE_READ"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.slabstech.app.thehdtour.MessageReplyReceiver">
            <intent-filter>
                <action android:name="com.slabstech.app.thehdtour.ACTION_MESSAGE_REPLY"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>